.form-signin {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
}




.input-login input {
  width: 12rem;
}

.login-form {
  background: cornsilk;
  text-align: center;
  box-shadow: 0px 7px 7px 4px grey;
  border-radius: 12px;
  width: 50%;
}